* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/*Welcome section*/

#welcome-sec {
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 70px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    transition: color 0.3s, text-shadow 0.5s;
}

header nav a:hover {
    color: black;
    text-shadow: 2px 2px 30px black;
    transition: all 0.5s;
}

header img {
    width: 150px;
}

section {
    height: 100vh;
    border: 1px solid red;
}

.welcome-text {
    width: 90vw;
    margin: 300px auto;
    border: 1px solid red;
}

.welcome-text h1 {
    font-size: 80px;
    text-align: center;
}

.welcome-text p {
    font-size: 24px;
    max-width: 700px;
    text-align: center;
    margin: 100px auto;
}

/*About section*/

#about {
    background-color: black;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-text {
    max-width: 600px;
}

.about-text h1 {
    font-size: 75px;
    line-height: 80px;
    font-weight: 600;
    text-align: center;
}

.about-text p {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

#about img {
    max-width: 600px;
    max-height: 600px;
}

/*Battle section*/

#battle {
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, black 60%), url();
    background-position: center;
    background-size: cover;
}

.heading {
    margin-top: 50px;
}

.heading h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}

.heading h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 500;
}

.boxes {
    width: 620px;
    height: 500px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 130px;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.box h1 {
    color: crimson;
}

.box p {
    font-size: 12px;
}

.box:last-child {
    width: 600px;
}

@media only screen and (max-width: 1100px) {
    #about {
        flex-direction: column;
        gap: 50px;
    }
    
    .about-text h1 {
        font-size: 40px;
    }

    .about-text p {
        margin-top: 20px;
    }

    #about img {
        width: 350px;
    }

}

